<div class="card px-8 py-6">
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="flex-auto">
      <div class="flex items-center pb-4">
        <h2 class="title m-0 text-primary font-bold">Estado de invitación</h2>
      </div>
      <h3 class="text-primary font-medium">
        Puedes buscar por 1 o varios filtros
      </h3>
      <hr class="bg-primary" />

      <div class="py-4 flex flex-col" [formGroup]="formGroup" *ngIf="formGroup">
        <div class="py-4 grid sm:grid-cols-2 md:grid-cols-4 gap-x-8">
          <div class="flex flex-col">
            <mat-label class="text-primary text-sm font-medium"
              >Estado invitación</mat-label
            >
            <mat-form-field class="flex-auto">
              <mat-select
                placeholder="Seleccionar estado del proceso"
                formControlName="estadoInvitacion"
              >
                <mat-option [value]="null">Todos</mat-option>
                <mat-option
                  *ngFor="let estado of estadosInvitacion"
                  [value]="estado.valor"
                >
                  {{ estado.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-label class="text-primary text-sm font-medium"
              >Fecha de incio</mat-label
            >
            <mat-form-field class="flex-auto">
              <input
                type="date"
                min="1900-01-01"
                max="{{ dateHoy | date : 'yyyy-MM-dd' }}"
                matInput
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-label class="text-primary text-sm font-medium"
              >Fecha de fin</mat-label
            >
            <mat-form-field class="flex-auto">
              <input
                type="date"
                min="1900-01-01"
                max="{{ dateHoy | date : 'yyyy-MM-dd' }}"
                matInput
              />
            </mat-form-field>
          </div>
          <div class="flex-auto flex flex-row gap-x-4 items-center">
            <button
              color="primary"
              mat-stroked-button
              type="button"
              class="flex-auto"
            >
              Limpiar
            </button>
            <button
              color="primary"
              mat-raised-button
              type="button"
              class="flex-auto"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-auto shadow-2xl rounded">
    <div class="overflow-auto shadow-2xl rounded">
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-full rounded"
        matSort
      >
        <ng-container matColumnDef="fechaInvitacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha de<br />Invitación
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.fechaInvitacion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaAceptacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha de <br />Aceptación<br /> Invitación
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.fechaAceptacion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaPlazoConfirmacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha<br />Plazo Confirmación
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.fechaCaducidad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gerencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Gerencia /<br />División
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.requerimiento?.division?.deDivision }}
          </td>
        </ng-container>

        <ng-container matColumnDef="perfil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Perfil</th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.requerimiento?.perfil?.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombres<br />y Apellidos
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.supervisora?.nombreCompleto }}
          </td>
        </ng-container>

        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Saldo<br />Contrato
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.saldoContrato }}
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Estado<br />Invitación
          </th>
          <td mat-cell *matCellDef="let e" class="text-primary font-medium">
            {{ e.estado?.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
          <td
            *matCellDef="let row"
            class="w-10 text-primary text-center"
            mat-cell
          >
            <button (click)="verDetalle(row)" matTooltip="Ver invitación" *ngIf="row.estado?.codigo === 'INVITADO'">
              <mat-icon svgIcon="mat:visibility"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHard"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHard"></tr>
      </table>
      <mat-paginator
        class="sticky left-0"
        [pageSizeOptions]="[10, 20, 30]"
        (page)="pageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
