.th-center {
    text-align: center;
}

.hide {
    display: none;
}

.mat-divider {
    border-top-color: #000090;
}

.bordecmb:last-child{
    border-left: 1px solid #000090;
    padding-left: 10px;
}

.mat-stroked-button:not([disabled]){
    border-color: var(--color-primary)!important;
    background-color: white;
}

.v-line{
    border-left: 2px solid #5c74b8;
}

.ajustar-texto{
    white-space: normal;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0.5em 0 1em 0;
}
.small-input.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .25em 0 .75em 0;
    font-size: 14px;
}
.small-input.mat-form-field-appearance-outline .mat-form-field-infix .mat-select-arrow{margin-top: 10px;}
.small-input.mat-form-field-appearance-outline .mat-select-empty + .mat-form-field-label-wrapper .mat-form-field-label{margin-top: -0.75em;}
