<vex-page-layout mode="card">
  <vex-page-layout-header class="h-6"></vex-page-layout-header>

  <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
    <div class="flex flex-col sm:flex-col gap-4 items-center justify-center">
      <div @fadeInUp class="card overflow-hidden w-full">
          <!-- TITULO -->
          <div class="px-6 py-4 border-b text-center">
              <h2 class="title m-0">DETALLE DE PROCESO DE SELECCIÓN</h2>
          </div>
    <!-- FILTRO PERSONAS JURIDICAS-->
    <div class="px-6 py-4 flex">
      <div class="flex flex-row sm:flex-col sm:gap-4 w-1/2">
        <div class="flex flex-col sm:gap-4">
          <mat-label class="title_register">INFORMACIÓN GENERAL</mat-label>
          <div class="flex borde_b">
            <mat-label class="min_width">División:</mat-label>
            <mat-label class="value_text">{{this.form_informa_gene.nombreArea}}</mat-label>
          </div>
          <div class="flex borde_b">
            <mat-label class="min_width">Proceso:</mat-label>
            <mat-label class="value_text">{{this.form_informa_gene.nombreProceso}}</mat-label>
          </div>
          <div class="flex borde_b">
            <mat-label class="min_width">Publicación:</mat-label>
            <mat-label class="value_text">{{form_informa_gene.fechaPublicacion ?? '-'}}</mat-label>
          </div>
          <div class="flex borde_b">
            <mat-label class="min_width">Estado:</mat-label>
            <mat-label class="value_text">{{form_informa_gene.estado?.nombre}}</mat-label>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="flex flex-row sm:flex-col sm:gap-4 w-1/2">
        <div class="flex flex-col sm:gap-4">
          <mat-label class="title_register">CRONOGRAMA</mat-label>
          <div class="flex justify-between borde_b" *ngFor="let item of form_cronograma; let i = index">
            <mat-label class="min_width2">{{item?.etapa?.nombre}}</mat-label>
            <div class="flex gap-2">
              <mat-label class="value_text">{{item.fechaFin == null ? item.fechaInicio : 'Del:' + item.fechaInicio}}</mat-label>
              <mat-label class="value_text" *ngIf="item.fechaFin != null">Al: {{item.fechaFin}}</mat-label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TABLA PERSONAS JURIDICAS-->
    <div class="px-6 py-4 card overflow-auto">
      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full border"
        mat-table
        matSort
      >
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="etapa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Etapa</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.etapa?.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Documento
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.documentName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fecHorPubl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha y hora de publicación
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.fechaPublicacion | date:'dd/MM/yyyy hh:mm a' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
          <button
            color="primary"
            (click)="descargar(element)"
            mat-menu-item>
            <span class="button-icon"></span>
          </button>
          <!-- <button
            color="primary"
            (click)="abrirNavegador(element)"
            mat-menu-item>
            <mat-icon svgIcon="mat:remove_red_eye"></mat-icon>
          </button> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="7" class="text-center">
            Cargando Datos...
          </td>
        </ng-container>

        <ng-container matColumnDef="vacio">
          <td
            mat-footer-cell
            *matFooterCellDef
            colspan="7"
            class="text-center text-primary"
          >
            No se encuentran resultados para los filtros seleccionados
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: dataSource != null }"
        ></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="['vacio']"
          [ngClass]="{
            hide: !(dataSource != null && dataSource.data.length == 0)
          }"
        ></tr>
      </table>
      <mat-paginator
        class="sticky left-0"
        [pageSizeOptions]="[10, 20, 30]"
        (page)="pageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
      </div>
  </div>
  </vex-page-layout-content>
</vex-page-layout>
