<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-x-8">
    <div class="flex flex-col col-span-2">
        <mat-label class="text-primary text-sm font-medium">Perfil</mat-label>
        <mat-form-field class="flex-auto">
            <input [formControl]="formGroup.controls.aprobador" [matAutocomplete]="autoTecnico" matInput (blur)="blurEvaluadorTecnico()" placeholder="Seleccionar">
            <mat-autocomplete #autoTecnico="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let state of filteredStatesTecnico$ | async" [value]="state" class="custom-option">
                    <span class="body-1 font-bold">{{ state.perfil.nombre }}</span>
                    <span class="text-hint"> | </span>
                    <span class="caption text-secondary">Detalle: {{ state.detalle }}</span>
                    <mat-divider></mat-divider>
                </mat-option>
            </mat-autocomplete>
            <button (click)="formGroup.controls.aprobador.reset()" *ngIf="formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                <mat-icon svgIcon="mat:close"></mat-icon>
            </button>
            <button *ngIf="!formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                <mat-icon svgIcon="mat:search"></mat-icon>
            </button>
            <mat-error *ngIf="formGroup.get('aprobador').hasError('required')">Seleccione Perfil</mat-error>
        </mat-form-field>
    </div>
    <div class="flex flex-col ">
        <mat-label class="text-primary text-sm font-medium">Cantidad</mat-label>
        <mat-form-field  class="">
            <input [formControl]="formGroup.controls.nroProfesionales" matInput (keypress)="numberOnly($event)" (paste)="pegarSoloNumeros($event)" maxlength="4" placeholder="Ingrese cantidad">
            <mat-error *ngIf="formGroup.get('nroProfesionales').hasError('required')">Ingrese Cantidad</mat-error>
            <mat-error *ngIf="formGroup.get('nroProfesionales').hasError('validarNoCero')">Ingrese Cantidad Valida</mat-error>
        </mat-form-field>
    </div>
</div>
<div class="flex items-center justify-end">
    <button  color="primary" mat-raised-button type="button" (click)="guardar()">Guardar</button>
</div>