.th-center {
    text-align: center;
}

.hide {
    display: none;
}

.mat-button-toggle {
    background-color: rgba(0, 0, 0, 0.04);
}

.mat-button-toggle-checked {
    background-color: #000090;
    color: white;
}