<form>
    <vex-modal-title titulo="Acción Aprobador"></vex-modal-title>
    <mat-divider class="-mx-6 text-border mb-6"></mat-divider>
    <mat-dialog-content class="flex flex-col">
        <mat-form-field *ngIf="someResponsableSIAF" class="flex-auto">
            <mat-label>Número SIAF</mat-label>
            <input matInput [formControl]="formGroup.controls.nuSiaf" />
        </mat-form-field>
        <mat-form-field class="flex-auto">
            <mat-label>Observaciones</mat-label>
            <textarea matInput #obsAdministrativa [formControl]="formGroup.controls.observacion"
                maxlength="5000"></textarea>
            <mat-hint align="end">{{ formGroup.controls.observacion.value?.length || 0 }}/5000</mat-hint>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="guardar(AprobadorAccion.APROBADO)">Aprobar</button>
        <button mat-raised-button color="primary" (click)="guardar(AprobadorAccion.RECHAZADO)">Rechazar</button>
        <button mat-raised-button color="primary" (click)="closeModal()">Cancelar</button>
    </mat-dialog-actions>
</form>