.bg-pattern{
    background: #d8d9da;
    //background: #7da7d9;
    //background: #00b6f1;
}

.bg-modulo{
    background: gray;
    //background: #7da7d9;
    //background: #00b6f1;
}

.bg-externo{
    background: #5c74b8;
    color: white;
    text-shadow: 2px 2px #00559e;
    //background: #7da7d9;
    //background: #00b6f1;
}

.extrabold {font-weight:800;font-family: 'Raleway', sans-serif;}