            <!--CONTENIDO-->
            <mat-accordion multi="true">
                <mat-expansion-panel class="mt-2" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold">{{itemSeccion + 1}}.- Informe</mat-panel-title>
                    </mat-expansion-panel-header>
                    <vex-layout-informe 
                        [fechaDesvinculacion] = "fecDesvinculacion"
                        [adjuntoInforme] = "adjuntoInforme"
                        [isReviewExt] = "isReviewExt"
                        [idDocumento] = "idInforme"
                        [codRolRevisor] = "codRolRevisor"
                        [obsAdjunto] = "observacionInforme"
                        (seccionCompletada)="seccionInformeCompletada($event)"
                        (allConforme) = "recibirConformidadInforme($event)"
                        (observacionChange) = "recibirObservacionInforme($event)"
                    #layoutInforme></vex-layout-informe>
                </mat-expansion-panel>
                <mat-expansion-panel class="mt-2" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold">{{itemSeccion + 2}}.- Baja Personal Propuesto</mat-panel-title>
                    </mat-expansion-panel-header>
                    <vex-layout-baja-personal-propuesto
                        [idSolicitud] = "idSolicitud" 
                        [isReviewExt] = "isReviewExt"
                        [personalReemplazo] = "personalReemplazo"
                    #layoutBajaPersPropuesto></vex-layout-baja-personal-propuesto>
                </mat-expansion-panel>
                <mat-expansion-panel class="mt-2" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold">{{itemSeccion + 3}}.- Personal propuesto</mat-panel-title>
                    </mat-expansion-panel-header>
                    <vex-layout-personal-propuesto 
                    [isReviewExt]="isReviewExt" 
                    [idSolicitud] = "idSolicitud"
                    [uuidSolicitud] = "uuidSolicitud"
                    [personalReemplazo] = "personalReemplazo"
                    [idDocDjNepotismo] = "idDjNepotismo"
                    [idDocDjImpedimento] = "idDjImpedimento"
                    [idDocDjNoVinculo] = "idDJNoVinculo"
                    [idDocOtros] = "idOtros"
                    [adjuntoDjNepotismo] = "adjuntoDjNepotismo"
                    [adjuntoDjImpedimento] = "adjuntoDjImpedimento"
                    [adjuntoDjNoVinculo] = "adjuntoDjNoVinculo"
                    [adjuntoOtros] = "adjuntoOtros"
                    [codRolRevisor] = "codRolRevisor"
                    [obsAdjuntoDjNepotismo] = "observacionDjNepotismo"
                    [obsAdjuntoDjImpedimento] = "observacionDjImpedimento"
                    [obsAdjuntoDjNoVinculo] = "observacionDjNoVinculo"
                    [obsAdjuntoOtros] = "observacionOtros"
                    (seccionCompletada)="seccionPersonalPropuestoCompletada($event)"
                    (allConforme) = "recibirConformidadPersonalPropuesto($event)"
                    (observacionDjNepotismoChange) = "recibirObservacionDjNepotismo($event)"
                    (observacionDjImpedimentoChange) = "recibirObservacionDjImpedimento($event)"
                    (observacionDjNoVinculoChange) = "recibirObservacionDjNoVinculo($event)"
                    (observacionOtrosChange) = "recibirObservacionOtros($event)"
                    #layoutPersPropuesto></vex-layout-personal-propuesto>
                </mat-expansion-panel>
                <mat-expansion-panel class="mt-2" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold">{{itemSeccion + 4}}.- Solicitud de reemplazo de supervisor</mat-panel-title>
                    </mat-expansion-panel-header>
                    <vex-layout-solicitud-reemplazo-supervisor 
                        [isReviewExt]="isReviewExt" 
                        [adjuntoSolicitud] = "adjuntoSolicitudReemplazo"
                        [idDocSolicitud] = "idSolicitudReemplazo"
                        [codRolRevisor] = "codRolRevisor"
                        [obsAdjunto] = "observacionSolReemplazo"
                        (seccionCompletada)="seccionSolicitudReemplazoCompletada($event)"
                        (allConforme) = "recibirConformidadSolReemplazo($event)"
                        (observacionChange) = "recibirObservacionSolReemplazo($event)"
                    #layoutSolReempSuperv></vex-layout-solicitud-reemplazo-supervisor>
                </mat-expansion-panel>
                <mat-expansion-panel class="mt-2" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-bold">{{itemSeccion + 5}}.- Proyecto de Adenda</mat-panel-title>
                    </mat-expansion-panel-header>
                    <vex-layout-proyecto-adenda 
                        [isReviewExt]="isReviewExt"
                        [personalReemplazo] = "personalReemplazo"
                        [adjuntoProyAdenda] = "adjuntoProyAdenda"
                        [codRolRevisor] = "codRolRevisor"
                        [idDocAdenda] = "idProyAdenda"
                        [obsAdjunto] = "observacionProyAdenda"
                        (seccionCompletada)="seccionProyAdendaCompletada($event)"
                        (allConforme) = "recibirConformidadProyAdenda($event)"
                        (observacionChange) = "recibirObservacionProyAdenda($event)"
                    #layoutSolReempSuperv></vex-layout-proyecto-adenda>
                </mat-expansion-panel>
            </mat-accordion>
