<div>
  <ng-container [ngTemplateOutlet]="templateOficio"></ng-container>
</div>

<ng-template #templateOficio>
  <div class="flex items-center w-full">
    <mat-checkbox
      [checked]="adjuntoCargado"
      [disabled]="isCargaAdenda"
      color="primary"
      (change)="setValueCheckedCartaReemplazo($event)"
    >
      <span>Contrato Adenda</span>
    </mat-checkbox>
    <span class="flex-1"></span>
    <span class="text-secondary" *ngIf="!isCargaAdenda">ContratoMock.pdf</span>
    <button
      *ngIf="!isCargaAdenda"
      matTooltip="Descargar"
      mat-icon-button
      type="button"
      class="text-primary hover:bg-hover"
    >
      <mat-icon svgIcon="mat:download" size="18px"></mat-icon>
    </button>
    <button
      *ngIf="!isCargaAdenda"
      matTooltip="Eliminar"
      mat-icon-button
      type="button"
      class="text-primary hover:bg-hover"
    >
      <mat-icon svgIcon="mat:delete" size="18px"></mat-icon>
    </button>
    <mat-radio-group
      *ngIf="!isCargaAdenda"
      [disabled]="isCargaAdenda"
      [(ngModel)]="marcacion"
      class="ml-12 flex items-center gap-4"
    >
      <mat-radio-button value="si">Sí</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
    <span *ngIf="!isCargaAdenda" class="text-secondary ml-12"
      >Evaluado por:</span
    >
    <span *ngIf="!isCargaAdenda" class="text-secondary ml-12"
      >Fecha y Hora:</span
    >

    <vex-form-adjuntos-no-title
      [titulo]="'Archivo (*.pdf)'"
      [editable]="editable"
      class="ml-4"
      [idSeccion]="'1043'"
      [idTipoDocumento]="'1060'"
      [idReemplazoPersonal]="idReemplazo"
      [deNombreDocumento]="'CARGA-ADENDA'"
      [feFechaRegistro]="'21/07/2025'"
      (archivoAdjuntado)="onAdjuntoSuccess($event)"
    >
    </vex-form-adjuntos-no-title>
  </div>
  <div>
    <mat-form-field class="w-full" *ngIf="!isCargaAdenda">
      <textarea
        matInput
        placeholder="Observación"
        [disabled]="isCargaAdenda"
        rows="2"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
