<vex-page-layout mode="card">
  <vex-page-layout-header class="h-6" [class.px-gutter]="true"></vex-page-layout-header>
  <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
    <div *ngIf="mostrarCards" class="card px-6 py-4">
      <mat-tab-group  [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Bandeja de Solicitudes de Aprobaciones">
          <div class="flex flex-col sm:flex-row gap-4">
            <div @fadeInUp class="flex-auto">
              <mat-divider class="-mr-6 -ml-6"></mat-divider>
              <div class="py-4 flex flex-col">
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <mat-form-field class="flex-auto">
                    <mat-label>N° de Expediente</mat-label>
                    <input [formControl]="formGroup.controls.nroExpediente" matInput maxlength="15" />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Solicitante</mat-label>
                    <input [formControl]="formGroup.controls.solicitante" matInput maxlength="100" />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Tipo de Solicitud</mat-label>
                    <mat-select [formControl]="formGroup.controls.tipoSolicitud" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listTipoSolicitud" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <mat-form-field class="flex-auto">
                    <mat-label>Estado de Revisión</mat-label>
                    <mat-select [formControl]="formGroup.controls.estadoRevision" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listEstadoRevision" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Estado de Evaluación Técnica</mat-label>
                    <mat-select [formControl]="formGroup.controls.estadoEvalTecnica" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listEstadoEvaluacionTecnica" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Estado de Evaluación Administrativa</mat-label>
                    <mat-select [formControl]="formGroup.controls.estadoEvalAdministrativa" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listEstadoEvaluacionAdminis" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-2 items-center justify-end">
                  <button color="primary" style="margin-left: 0px;margin-right: auto;" mat-raised-button type="button" (click)="redireccionAProbarPaces()">
                    Aprobar Paces
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="aprobacion_FirmaMasiva('add')">
                    Aprobación y firma masiva
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="buscar()">
                    Buscar
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="limpiar()">
                    Limpiar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-auto shadow-2xl rounded">
            <table @stagger [dataSource]="dataSource" class="w-full border" mat-table matSort>
              <ng-container matColumnDef="nroExpediente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Expediente</th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox color="primary" class="flex-auto" (change)="actualizarListaExpediente($event, element.numeroExpediente, element.solicitudUuid)">
                    {{ element?.numeroExpediente }}
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="solicitante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</th>
                <td mat-cell *matCellDef="let element">{{ element?.persona?.solicitante }}</td>
              </ng-container>
              <ng-container matColumnDef="tipoPersona">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo<br>Persona</th>
                <td mat-cell *matCellDef="let element">{{ element?.persona?.tipoPersona?.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="tipoSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo<br>Solicitud</th>
                <td mat-cell *matCellDef="let element">{{ element.tipoSolicitud?.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de<br>Ingreso</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaRegistro }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaLimiteEvaluacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Límite<br>Evaluación Técnica
                </th>
                <td mat-cell *matCellDef="let element">{{ element.fechaPlazoTecnico }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaLimiteRespuesta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Límite<br>para dar<br>respuesta
                </th>
                <td mat-cell *matCellDef="let element">{{ element.fechaPlazoResp }}</td>
              </ng-container>
              <ng-container matColumnDef="estadoRevision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Revisión</th>
                <td mat-cell *matCellDef="let element">{{ element?.estadoRevision?.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="estadoEvalTecnica">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Evaluación<br>Técnica</th>
                <td mat-cell *matCellDef="let element">{{ element?.estadoEvaluacionTecnica?.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="estadoEvalAdministrativa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Evaluación<br>Administrativa
                </th>
                <td mat-cell *matCellDef="let element">{{ element?.estadoEvaluacionAdministrativa?.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                  <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ customer: row }" [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                    <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="loading">
                <td mat-footer-cell *matFooterCellDef colspan="10" class="text-center">Cargando Datos...
                </td>
              </ng-container>

              <ng-container matColumnDef="vacio">
                <td mat-footer-cell *matFooterCellDef colspan="10" class="text-center text-primary">No se
                  encuentran resultados para los filtros seleccionados</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="['vacio']" [ngClass]="{ hide: !(dataSource?.data?.length === 0 ) }"></tr>
            </table>
            <mat-paginator class="sticky left-0" [pageSizeOptions]="[10, 20, 30]" (page)="pageChange($event)" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Perfeccionamiento de Contrato">
          <div class="flex flex-col sm:flex-row gap-4">
            <div @fadeInUp class="flex-auto">
              <mat-divider class="-mr-6 -ml-6"></mat-divider>
              <div class="py-4 flex flex-col">
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <mat-form-field class="flex-auto">
                    <mat-label>N° Expediente</mat-label>
                    <input [formControl]="formGroupPerfeccionamiento.controls.nroExpedienteP" matInput />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Contratista</mat-label>
                    <input [formControl]="formGroupPerfeccionamiento.controls.contratistaP" matInput />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Tipo de Contrato</mat-label>
                    <mat-select [formControl]="formGroupPerfeccionamiento.controls.tipoContratoP" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listTipoContrato" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <!--<mat-form-field class="flex-auto">
                    <mat-label>Tipo Aprobación</mat-label>
                    <mat-select [formControl]="formGroupPerfeccionamiento.controls.tipoAprobacionP" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listTipoAprobacionP" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>-->
                  <mat-form-field class="flex-auto">
                    <mat-label>Estado Aprobación</mat-label>
                    <mat-select [formControl]="formGroupPerfeccionamiento.controls.estadoAprobacionP" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listEstadoAprobacionP" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="flex-auto"></div>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-2 items-center justify-end">
                  <button color="primary" style="margin-right: auto;" mat-raised-button type="button" (click)="aprobarVistoBuenoFirmarPerfeccionamiento('add')">
                    Aprobar/Visto Bueno/Firmar
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="buscarPerfeccionamiento()">
                    Buscar
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="limpiarPerfeccionamiento()">
                    Limpiar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-auto shadow-2xl rounded">
            <table class="w-full border" mat-table matSort [dataSource]="dataSourcePerfeccionamiento">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox
                    color="primary"
                    (change)="actualizarListaExpedientePerfeccionamiento($event, element)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!--<ng-container matColumnDef="tipoAprobacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Aprobación</th>
                <td mat-cell *matCellDef="let element">{{ element.tipoAprobacion?.nombre }}</td>
              </ng-container>-->

              <ng-container matColumnDef="numeroExpediente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Número Expediente</th>
                <td mat-cell *matCellDef="let element">{{ element.solicitudPerfCont.propuesta.procesoItem.proceso.numeroExpediente }}</td>
              </ng-container>

              <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.documento }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalidad de Pago</th>
                <td mat-cell *matCellDef="let element">{{ element.solicitudPerfCont.tipoContratacion.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="contratista">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contratista</th>
                <td mat-cell *matCellDef="let element">{{ element.solicitudPerfCont.propuesta.supervisora.nombreRazonSocial }}</td>
              </ng-container>

              <ng-container matColumnDef="tipoContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Contrato</th>
                <td mat-cell *matCellDef="let element">{{ element.solicitudPerfCont.tipoContratacion.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="fechaIngreso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Ingreso</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaSuscripcionContrato }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoAprobacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Aprobación</th>
                <td mat-cell *matCellDef="let element">{{ element.idEstadoEval.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoAprobacionLogistica">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Aprobación Logística</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoEvalLog?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoVbGAF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado VB GAF</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoEvalGaf?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoVbJefeUnidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado VB Jefe Unidad</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoEvalUni?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoFirmaGerencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Firma Gerencia</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoEvalApr?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="actionsPerfeccionamiento">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                  <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ row: row }" [matMenuTriggerFor]="actionsMenuPerfeccionamiento" mat-icon-button type="button">
                    <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsPerfeccionamiento"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPerfeccionamiento"></tr>

              <ng-container matColumnDef="loadingPerfeccionamiento">
                <td mat-footer-cell *matFooterCellDef colspan="12" class="text-center">Cargando Datos...</td>
              </ng-container>

              <ng-container matColumnDef="vacioPerfeccionamiento">
                <td mat-footer-cell *matFooterCellDef colspan="12" class="text-center text-primary">No se
                  encuentran resultados para los filtros seleccionados</td>
              </ng-container>

              <tr mat-footer-row *matFooterRowDef="['vacioPerfeccionamiento']" [ngClass]="{ hide: !(dataSourcePerfeccionamiento.data.length === 0) }"></tr>
            </table>
            <mat-paginator #paginatorPerfeccionamiento class="sticky left-0" [pageSizeOptions]="[10, 20, 30]" (page)="pageChangePerfeccionamiento($event)" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Informe de Renovación">
          <div class="flex flex-col sm:flex-row gap-4">
            <div @fadeInUp class="flex-auto">
              <mat-divider class="-mr-6 -ml-6"></mat-divider>
              <div class="py-4 flex flex-col">
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <mat-form-field class="flex-auto">
                    <mat-label>N° de Expediente</mat-label>
                    <input [formControl]="formGroupInformeRenovacion.controls.nroExpedienteR" matInput maxlength="15" />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Empresa Supervisora</mat-label>
                    <input [formControl]="formGroupInformeRenovacion.controls.empresaSupervisoraR" matInput maxlength="100" />
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Estado de Evaluación</mat-label>
                    <mat-select [formControl]="formGroupInformeRenovacion.controls.estadoEvaluacionR" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listEstadoEvaluacionRenovacion" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-4">
                  <mat-form-field class="flex-auto">
                    <mat-label>Tipo de Informe</mat-label>
                    <mat-select [formControl]="formGroupInformeRenovacion.controls.tipoInformeR" [compareWith]="compareSelecIdListadoDetalle">
                      <mat-option *ngFor="let obj of listTipoInformeRenovacion" [value]="obj">
                        {{ obj.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="flex-auto"></div>
                  <div class="flex-auto"></div>
                </div>
                <div class="flex flex-col sm:flex-row sm:gap-2 items-center justify-end">
                  <button color="primary" style="margin-right: auto;" mat-raised-button type="button" (click)="aprobarVistoBuenoFirmarInformeRenovacion('add')">
                    Aprobar/Visto Bueno/Firmar
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="buscarInformeRenovacion()">
                    Buscar
                  </button>
                  <button color="primary" mat-raised-button type="button" (click)="limpiarInformeRenovacion()">
                    Limpiar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-auto shadow-2xl rounded">
            <table class="w-full border" mat-table matSort [dataSource]="dataSourceInformeRenovacion">
              <ng-container matColumnDef="selectRenovacion">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox
                    color="primary"
                    (change)="actualizarListaExpedienteInformeRenovacion($event, element)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="numeroExpedienteR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Número Expediente</th>
                <td mat-cell *matCellDef="let element">{{ element.numeroExpediente }}</td>
              </ng-container>

              <ng-container matColumnDef="empresaSupervisoraR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa Supervisora</th>
                <td mat-cell *matCellDef="let element">{{ element.empresaSupervisora }}</td>
              </ng-container>

              <ng-container matColumnDef="tipoInformeR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Informe</th>
                <td mat-cell *matCellDef="let element">{{ element.tipoInforme?.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="fechaPresentacionR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Presentación</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaPresentacion }}</td>
              </ng-container>

              <ng-container matColumnDef="fechaLimiteEvaluacionR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Límite<br>de Evaluación</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaLimiteEvaluacion }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoEvaluacionR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Evaluación</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoEvaluacion?.nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoAprobacionTecnicaR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Aprobación<br>Técnica</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoAprobacionTecnica?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoVbGerenciaR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado VB<br>Gerencia</th>
                <td mat-cell *matCellDef="let element">{{ element.estadoVbGerencia?.nombre || ' ' }}</td>
              </ng-container>

              <ng-container matColumnDef="actionsInformeRenovacion">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                  <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ row: row }" [matMenuTriggerFor]="actionsMenuInformeRenovacion" mat-icon-button type="button">
                    <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsInformeRenovacion"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsInformeRenovacion"></tr>

              <ng-container matColumnDef="loadingInformeRenovacion">
                <td mat-footer-cell *matFooterCellDef colspan="9" class="text-center">Cargando Datos...</td>
              </ng-container>

              <ng-container matColumnDef="vacioInformeRenovacion">
                <td mat-footer-cell *matFooterCellDef colspan="9" class="text-center text-primary">No se
                  encuentran resultados para los filtros seleccionados</td>
              </ng-container>

              <tr mat-footer-row *matFooterRowDef="['vacioInformeRenovacion']" [ngClass]="{ hide: !(dataSourceInformeRenovacion.data.length === 0) }"></tr>
            </table>
            <mat-paginator #paginatorInformeRenovacion class="sticky left-0" [pageSizeOptions]="[10, 20, 30]" (page)="pageChangeInformeRenovacion($event)" showFirstLastButtons></mat-paginator>
          </div>

          <div class="flex flex-row justify-end gap-4 mt-4">

            <button mat-stroked-button color="primary" (click)="historialAprobaciones()">
              Historial de aprobaciones
            </button>
          </div>
        </mat-tab>
        </mat-tab-group>
    </div>

  <!-- Historial debajo de la tabla -->
  <div *ngIf="mostrarHistorial" class="overflow-auto shadow-2xl rounded mt-4">
    <table mat-table [dataSource]="dataSourceHistorial" class="w-full border">
      <ng-container matColumnDef="tipoSector">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoSector }}</td>
      </ng-container>

      <ng-container matColumnDef="grupoSector">
        <th mat-header-cell *matHeaderCellDef>Grupo</th>
        <td mat-cell *matCellDef="let element">{{ element.grupo }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaDesde">
        <th mat-header-cell *matHeaderCellDef>Fecha Hora designación</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaDesde }}</td>
      </ng-container>

      <ng-container matColumnDef="grupoAprobador">
        <th mat-header-cell *matHeaderCellDef>Aprobador</th>
        <td mat-cell *matCellDef="let element">{{ element.grupoAprobador  }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaHasta">
        <th mat-header-cell *matHeaderCellDef>Fecha Hora Aprobación</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaHasta }}</td>
      </ng-container>

      <ng-container matColumnDef="estadoFinal">
        <th mat-header-cell *matHeaderCellDef>Resultado</th>
        <td mat-cell *matCellDef="let element">{{ element.estadoFinal }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreItem">
        <th mat-header-cell *matHeaderCellDef>Observación</th>
        <td mat-cell *matCellDef="let element">{{ element.nombreItem }}</td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="['tipoSector','grupoSector','fechaDesde','grupoAprobador','fechaHasta','estadoFinal','nombreItem']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['tipoSector','grupoSector','fechaDesde','grupoAprobador','fechaHasta','estadoFinal','nombreItem'];"></tr>
    </table>

    <div class="flex flex-row justify-end gap-4 mt-4">

      <button mat-stroked-button color="primary" (click)="returnTabView()">
        regresar
      </button>
    </div>
  </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-row="customer" matMenuContent>
    <button (click)="ver(row)" mat-menu-item>
      <mat-icon svgIcon="mat:preview"></mat-icon>
      <span>Ver</span>
    </button>
    <button (click)="aprobar_firmar(row)" mat-menu-item>
      <mat-icon svgIcon="mat:update"></mat-icon>
      <span>Aprobar y firmar</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #actionsMenuPerfeccionamiento="matMenu" xPosition="before" yPosition="below">
  <ng-template let-row="row" matMenuContent>
    <button mat-menu-item (click)="verPerfeccionamiento(row)">
      <mat-icon svgIcon="mat:preview"></mat-icon>
      <span>Ver</span>
    </button>
    <button mat-menu-item (click)="historyApproveAndSignPerfeccionamiento(row)">
      <mat-icon svgIcon="mat:history"></mat-icon>
      <span>Historial Aprobar y firmar</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #actionsMenuInformeRenovacion="matMenu" xPosition="before" yPosition="below">
  <ng-template let-row="row" matMenuContent>
    <button mat-menu-item (click)="verInformeRenovacion(row)">
      <mat-icon svgIcon="mat:preview"></mat-icon>
      <span>Ver</span>
    </button>
    <button mat-menu-item (click)="historyApproveAndSignInformeRenovacion(row)">
      <mat-icon svgIcon="mat:history"></mat-icon>
      <span>Historial Aprobar y firmar</span>
    </button>
  </ng-template>
</mat-menu>
