<form>
  <div class="flex items-center" mat-dialog-title>
      <p class="font-bold flex-auto text-center">{{ title }} REQUISITO</p>
  </div>
  <mat-dialog-content class="flex flex-col">
      <mat-form-field class="mt-6 flex-auto">
          <mat-label>Sección</mat-label>
          <mat-select [formControl]="formGroup.controls.seccion"
          [compareWith]="compareSelectIdSeccion">
              <mat-option *ngFor="let seccion of listTipoSeccion" [value]="seccion">
              {{ seccion?.deSeccion }}
          </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field  class="mt-6 flex-auto">
        <mat-label>Tipo de Dato</mat-label>
        <mat-select [formControl]="formGroup.controls.tipoDato"
        [compareWith]="compareSelecIdListadoDetalle">
            <mat-option *ngFor="let tipoDato of listTipoDato" [value]="tipoDato">
            {{ tipoDato.nombre }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mt-6 flex-auto">
        <mat-label>Descripción</mat-label>
        <input matInput [formControl]="formGroup.controls.deSeccionRequisito">
    </mat-form-field>
    <mat-form-field  class="mt-6 flex-auto">
        <mat-label>Entrada de Datos</mat-label>
        <mat-select [formControl]="formGroup.controls.tipoDatoEntrada"
        [compareWith]="compareSelecIdListadoDetalle">
            <mat-option *ngFor="let tipoDatoEntrada of listTipoDatoEntrada" [value]="tipoDatoEntrada">
            {{ tipoDatoEntrada.nombre }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field  class="mt-6 flex-auto">
        <mat-label>Tipo de Contrato</mat-label>
        <mat-select [formControl]="formGroup.controls.tipoContrato"
        [compareWith]="compareSelecIdListadoDetalle">
            <mat-option *ngFor="let tipoContrato of listTipoContrato" [value]="tipoContrato">
            {{ tipoContrato.nombre }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex justify-between mt-4">
        <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.esSeccionRequisito">Activo</mat-checkbox>
        <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.flagConformaConsorcio">Solo Consorcios</mat-checkbox>
    </div>
    <div class="flex justify-between mt-4">
        <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.flagRemype">Solo Remype</mat-checkbox>
    </div>
    <div>
        <div class="flex justify-between mt-4">
            <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.flagVisibleFielCumplimiento"><span class="text-gray-500 italic text-xs break-words whitespace-normal min-w-[150px]">Desmarcar en caso se necesite Inhabilitar cuando corresponda una Carta Fianza de Fiel Cumplimiento y el monto no supere {{ MONTO_FIJO[0].valor }}.00 soles (CARTA FIANZA DE FIEL CUMPLIMIENTO)</span></mat-checkbox>
        </div>
    </div>
    <div>
        <div class="flex justify-between mt-4">
            <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.flagVisibleRetencion"><span class="text-gray-500 italic text-xs break-words whitespace-normal min-w-[150px]">Desmarcar en caso se necesite Inhabilitar cuando corresponda una Retención 10% (CARTA FIANZA DE FIEL CUMPLIMIENTO)</span></mat-checkbox>
        </div>
    </div>
    <div>
        <div class="flex justify-between mt-4">
            <mat-checkbox color="primary" class="flex-auto" [formControl]="formGroup.controls.flagVisibleSuperaPropuesta"><span class="text-gray-500 italic text-xs break-words whitespace-normal min-w-[150px]">Desmarcar en caso se necesite Inhabilitar cuando la Propuesta Económica supere el 90% del valor estimado (CARTA FIANZA DEL MONTO DIFERENCIAL)</span></mat-checkbox>
        </div>
    </div>
      
  </mat-dialog-content>
  <p class="italic text-red-600 mt-3">(*) Campos obligatorios</p>
  <mat-dialog-actions align="center">
      <button mat-raised-button color="primary" (click)="accion('GUARDAR')">{{ btnValue }}</button>
      <button mat-raised-button color="primary" (click)="accion('CANCELAR')" >Cancelar</button>
  </mat-dialog-actions>
</form>