<div class="card px-6 py-4">
    <div class="flex flex-col sm:flex-row gap-4">
        <div class="flex-auto">
            <h2 class="title m-0">Bandeja de Requerimientos</h2>
        </div>
    </div>
    <mat-divider class="-mr-6 -ml-6"></mat-divider>
    <div class="py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Gerencia/División</mat-label>
                <mat-select>
                    <mat-option value="1">División de supervisión de Gas Natural</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Perfil</mat-label>
                <input matInput value="STA_DED-1" readonly>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Fecha Inicio Requerimiento</mat-label>
                <input matInput [matDatepicker]="pickerInicio">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Fecha Fin Requerimiento</mat-label>
                <input matInput [matDatepicker]="pickerFin">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-2 items-center justify-end">
            <button color="primary" mat-raised-button type="button">Nuevo</button>
            <button color="primary" mat-raised-button type="button">Buscar</button>
            <button color="primary" mat-raised-button type="button">Limpiar</button>
        </div>
    </div>
    <div class="overflow-auto shadow-2xl rounded">
        <table mat-table [dataSource]="dataSourceRequerimientos" class="w-full rounded">
            <ng-container matColumnDef="numeroExpediente">
                <th mat-header-cell *matHeaderCellDef> Número Expediente </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroExpediente}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaRequerimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha del Requerimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRequerimiento | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="gerenciaDivision">
                <th mat-header-cell *matHeaderCellDef> Gerencia/División </th>
                <td mat-cell *matCellDef="let element"> {{element.gerenciaDivision}} </td>
            </ng-container>
            <ng-container matColumnDef="perfil">
                <th mat-header-cell *matHeaderCellDef> Perfil </th>
                <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
            </ng-container>
            <ng-container matColumnDef="nombresApellidos">
                <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.nombresApellidos}} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="requerimientoMenu" [matMenuTriggerData]="{ row: element }">
                        <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsRequerimientos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRequerimientos;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<mat-menu #requerimientoMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-row="row" matMenuContent>
        <button mat-menu-item>
            <mat-icon svgIcon="mat:visibility"></mat-icon>
            <span>Ver Requerimiento</span>
        </button>
        <button mat-menu-item>
            <mat-icon svgIcon="mat:edit"></mat-icon>
            <span>Editar Requerimiento</span>
        </button>
    </ng-template>
</mat-menu>