<div class="footer flex">
  <!--div class="flex-auto flex items-center container"-->
  <div class="flex-auto flex items-center">
    <div class="font-medium ltr:ml-4 rtl:mr-4 hidden sm:block">
      <a class="cursor-pointer hover:underline" href="https://forms.office.com/r/TmU5AQHZWQ" target="_blank">Envía tus consultas aquí.</a><br>
      <span class="hover:underline cursor-pointer" (click)="abrirTerminos()">Términos y condiciones de uso</span> | <span class="hover:underline hover:underline cursor-pointer" (click)="descargarManualUsuario()">Ver Instructivo de uso</span>
    </div>
  </div>
</div>