<div>
    
    <div class="flex items-center px-8" mat-dialog-title>
        <p class="font-bold flex-auto" style="text-align: center;">TÉRMINOS Y CONDICIONES DE USO DEL SISTEMA DE REGISTRO Y CONTRATACIÓN DE EMPRESAS SUPERVISORAS (SICOES)</p>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-content class="flex flex-col px-8 py-4">
        <p style="text-align: justify;">
            El Sistema de Registro y Contratación de Empresas Supervisoras (SICOES), es el sistema informático que
            Osinergmin pone a disposición de las Personas Jurídicas y Personas Naturales para realizar su
            inscripción en
            el Registro de Empresas Supervisoras. Con disponibilidad las veinticuatro (24) horas del día, los siete
            (7)
            días de la semana.
        </p>
        <br>
        <ol style="list-style-type: upper-roman; padding-left: 2rem;">
            <li style="padding-left: 1rem; font-weight: bold;">ACCESO AL SISTEMA</li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                Para realizar los trámites en SICOES, las personas naturales y jurídicas, públicas y privadas acceden al
                sistema a través de:
                <br>
                <br>
                <a href="https://sicoes.osinergmin.gob.pe" target="_blank" style="color: blue">https://sicoes.osinergmin.gob.pe</a>
                <br>
                <br>
                Donde deberán identificarse con su RUC y clave SOL.
                <br>
                <br>
                Para el caso de Empresas Extranjeras el registro se realizará con el N° de Identificación Tributaria y
                contraseña generada en SICOES.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">PRESUNCIÓN DE VERACIDAD</li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                En cumplimiento de lo establecido por el Texto Único Ordenado de la Ley N°27444, Ley de Procedimiento
                Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS, se presume que los documentos y
                declaraciones presentados en la forma prescrita por esta Ley, responden a la verdad de los hechos que
                ellos
                afirman. Esta presunción admite prueba en contrario.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">QUE TRÁMITES Y DOCUMENTOS PUEDEN PRESENTARSE A
                TRAVÉS DE SICOES
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                Están comprendidos en el alcance de SICOES los trámites referidos al Registro de Empresas Supervisoras
                de
                Osinergmin.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">HORARIOS Y COMPUTO DE PLAZOS</li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                SICOES, se encuentra habilitado las veinticuatro (24) horas del día, los siete (7) días de la semana
                para el
                inicio de trámites referidos al registro de empresas supervisoras de Osinergmin. Las Personas Jurídicas
                y
                Personas Naturales podrán presentar sus trámites sin restricción de horarios; sin embargo, para fines
                del
                cómputo de plazos los documentos presentados los sábados, domingos y feriados o cualquier otro día
                inhábil,
                se consideran presentados al primer día hábil siguiente.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">NOTIFICACIÓN DE LOS TRÁMITES PRESENTADOS POR
                SICOES
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                Las notificaciones de los trámites presentados por SICOES es de acuerdo al establecido en la Directiva
                para
                la Contratación de Empresas Supervisoras del Organismo Supervisor de la Inversión en Energía y Minería –
                Osinergmin.
            </p>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                En caso la Persona Jurídica y Persona Natural que inicia un trámite en el SICOES no se encuentra
                afiliado al
                Sistema de Notificación Electrónica (SNE), el Osinergmin creará una casilla electrónica de oficio al
                solicitante en la cual se realizará toda notificación.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">RESPONSABILIDADES
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                La Persona Jurídica y Persona Natural que utiliza SICOES es responsable de la información y
                documentación
                que presenta a través de este medio, así como del cumplimiento de los plazos para la presentación de
                documentos y de los requisitos de los procedimientos.
            </p>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">Es responsabilidad de la Persona Jurídica y Persona
                Natural
                que utiliza SICOES asegurarse de:</p>
            <br>
            <ul style="list-style-type: square; padding-left: 3rem; font-family: Raleway;">
                <li class="">Comprobar el correcto funcionamiento de la configuración de sus computadores, tener en
                    cuenta
                    los
                    requisitos mínimos precisados en el numeral IX.</li>
                <li>Comprobar su conexión a internet.</li>
                <li>Eliminar problemas o configuraciones incompatibles de sus redes internas.</li>
            </ul>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">El OSINERGMIN informará oportunamente cuando SICOES o
                alguna
                de sus funcionalidades se encuentren parcial o
                totalmente fuera de servicio por razones de mantenimiento.</p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">RESTRICCIONES DE USO
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                SICOES deberá usarse para fines lícitos y exclusivamente para trámites referidos al Registro de Empresas
                Supervisoras de Osinergmin.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">PROTECCIÓN DE DATOS PERSONALES – FINALIDAD Y
                CONSENTIMIENTO
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                En cumplimiento con lo dispuesto por la Ley N°29733, Ley de Protección de Datos Personales y su
                Reglamento,
                aprobado por Decreto Supremo N° 003-2013-JUS y sus modificatorias, el usuario (Persona Natural) brinda
                su
                consentimiento para el tratamiento de sus datos personales los cuales serán tratados única y
                exclusivamente
                para los siguientes fines:
            </p>
            <br>
            <ol style="list-style-type: decimal; padding-left: 3rem; font-family: Raleway;">
                <li>De registro de trámites referidos al Registro de Empresas Supervisoras del Osinergmin. </li>
                <li>Emisión del documento en que comunica el pronunciamiento de la entidad o resultado del trámite y
                    comunicación del mismo al usuario. </li>
            </ol>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                El ejercicio de cualquiera de los derechos ARCO (Acceso, Rectificación, Cancelación, Oposición) se
                realizará conforme a la Política de Protección de Datos Personales de Osinergmin.
            </p>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">REQUISITOS MÍNIMOS PARA USO DE SICOES
            </li>
            <br>
            <div style="text-align: justify; padding-left: 1rem;">
                <p><i><b>Navegador:</b></i> Chrome, Firefox</p>
                <p><i><b>Resolución:</b></i> HD [1024x768] o superior</p>
                <p><i><b>Sistema Operativo:</b></i> Windows 10 o superior</p>
                <p><i><b>Memoria RAM:</b></i> Mínimo de 4GB RAM</p>
                <p><i><b>Conexión a Internet:</b></i> Mínimo 10Mbps</p>
            </div>
            <br>
            <li style="padding-left: 1rem; font-weight: bold;">CONSULTAS SOBRE USO O REPORTE DE INCIDENTES
            </li>
            <br>
            <p style="text-align: justify; padding-left: 1rem;">
                Las consultas sobre el uso de SICOES o reporte de incidentes informático deben ser enviadas al siguiente
                correo electrónico: <span 
                    style="color: blue;">sicoes@osinergmin.gob.pe</span>. Se debe indicar en
                el Asunto del correo el N° de
                Identificación Tributaria.
            </p>
            <p style="text-align: justify; padding-left: 1rem;">
                Si reporta un incidente informático debe remitir las capturas de pantalla y el detalle del inconveniente
                y número de contacto para brindar el soporte correspondiente.
            </p>
        </ol>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="accion('ACEPTAR')">Aceptar</button>
        <button mat-raised-button color="primary" (click)="accion('RECHAZAR')" *ngIf="boolRechazar">Rechazar</button>
    </mat-dialog-actions>
</div>