<div>
    <vex-modal-title class="tittle" [titulo]="'Documentos administrativos a presentar (Art. 23 inc. 2)'"></vex-modal-title>
    <mat-dialog-content class="flex flex-col mb-4 text-justify">
        <p>
            - Documento que acredita las facultades del representante del solicitante precalificado. La representación se acreditará con copia simple del documento registral vigente que consigne dicha condición. En el caso de consorcios, dicha acreditación se hará respecto del representante de cada integrante del consorcio, de ser el caso.
        </p>
        <br>
        <p>
            - La promesa formal de consorcio con firmas legalizadas, en caso el postor sea un consorcio.
        </p>
        <br>
        <p>
            - Relación de profesionales propuestos debidamente inscritos en el Registro (SICOES) en la categoría y nivel requerido en las Bases.
        </p>
        <br>
        <p>
            - Declaración Jurada firmada por los profesionales propuestos, en relación al compromiso de participar en el contrato.      
            Declaración Jurada del postor o su representante legal, de ser el caso, en la que indique conocer aceptar y someterse a las Bases, condiciones y reglas del concurso, que cumple con los requerimientos técnicos exigidos en las Bases, que garantiza la veracidad de la documentación e información presentada, y que se compromete a mantener su oferta hasta el perfeccionamiento del contrato.
        </p>
        <br>
        <p>
            - Declaración Jurada de no encontrarse incurso en los supuestos de impedimentos, incompatibilidades y prohibiciones previstos en el artículo 11 de la presente Directiva.
            En el caso de personas jurídicas, esta declaración deberá ser efectuada también por los integrantes de los órganos de administración, apoderados, y por los profesionales o técnicos que sean presentados por ésta para la ejecución del
            servicio.
        </p>
    </mat-dialog-content>
    <mat-dialog-actions class="flex items-center justify-center">
        <button style="width: clamp(80px, 40%, 180px);" mat-raised-button color="primary" (click)="closeModal()">Aceptar</button>
    </mat-dialog-actions>
</div> 