<form>
    <vex-modal-title *ngIf="booleanAdd" [titulo]="'Asignar Aprobador'"></vex-modal-title>
    <vex-modal-title *ngIf="booleanEdit" [titulo]="'Editar Aprobador'"></vex-modal-title>
    <vex-modal-title *ngIf="booleanView" [titulo]="'Ver Aprobador'"></vex-modal-title>
    <vex-modal-title *ngIf="booleanModify" [titulo]="'Modificar Aprobador'"></vex-modal-title>
    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content class="flex flex-col">
        <div *ngIf="booleanModify" class="mt-6 flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Aprobador asignado actualmente</mat-label>
                <input [value]="aprobadorAsignado" matInput [disabled]="true">
            </mat-form-field>
    
            <mat-form-field class="flex-auto">
                <mat-label>Grupo asignado actualmente</mat-label>
                <input [value]="grupoAsignado" matInput [disabled]="true">
            </mat-form-field>
        </div>

        <div *ngIf="booleanModify" class="mt-6 flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Nuevo Aprobador</mat-label>
                <input [formControl]="formGroup.controls.aprobador" [matAutocomplete]="autoTecnico" matInput (blur)="blurEvaluadorTecnico()">
                <mat-autocomplete #autoTecnico="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let state of filteredStatesTecnico$ | async" [value]="state">
                    {{ state.nombreUsuario }}
                  </mat-option>
                </mat-autocomplete>
                <button (click)="formGroup.controls.aprobador.reset()" *ngIf="formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                    <mat-icon svgIcon="mat:close"></mat-icon>
                </button>
                <button *ngIf="!formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                    <mat-icon svgIcon="mat:search"></mat-icon>
                </button>
                <mat-error *ngIf="formGroup.get('aprobador').hasError('required')">Seleccione Aprobador</mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="!booleanModify" class="mt-6 flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Aprobador</mat-label>
                <input [formControl]="formGroup.controls.aprobador" [matAutocomplete]="autoTecnico" matInput (blur)="blurEvaluadorTecnico()">
                <mat-autocomplete #autoTecnico="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let state of filteredStatesTecnico$ | async" [value]="state">
                    {{ state.nombreUsuario }}
                  </mat-option>
                </mat-autocomplete>
                <button (click)="formGroup.controls.aprobador.reset()" *ngIf="formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                    <mat-icon svgIcon="mat:close"></mat-icon>
                </button>
                <button *ngIf="!formGroup.controls.aprobador.value" mat-icon-button matSuffix type="button">
                    <mat-icon svgIcon="mat:search"></mat-icon>
                </button>
                <mat-error *ngIf="formGroup.get('aprobador').hasError('required')">Seleccione Aprobador</mat-error>
            </mat-form-field>
    
            <mat-form-field  class="flex-auto">
                <mat-label>Grupo</mat-label>
                <mat-select [formControl]="formGroup.controls.grupo" [compareWith]="compareSelecIdListadoDetalle">
                    <mat-option *ngFor="let obj of listGrupos" [value]="obj">
                        {{ obj.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('grupo').hasError('required')">Seleccione Grupo</mat-error>
            </mat-form-field>
            <div style="padding-top: 10px;">
                <button color="primary" mat-raised-button type="button" (click)="agregarAprobador()">Agregar</button>
            </div>
        </div>

        <table *ngIf="!booleanModify" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="aprobador">
                <th mat-header-cell *matHeaderCellDef> Aprobador </th>
                <td mat-cell *matCellDef="let element"> {{element.aprobador?.nombreUsuario}} </td>
            </ng-container>

            <ng-container matColumnDef="grupo">
                <th mat-header-cell *matHeaderCellDef> Grupo </th>
                <td mat-cell *matCellDef="let element"> {{element.grupo?.nombre}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" *ngIf="booleanAdd" (click)="guardar()">Guardar</button>
        <button mat-raised-button color="primary" *ngIf="!booleanModify" (click)="closeModal()">Cancelar</button>
        <button mat-stroked-button color="primary" *ngIf="booleanModify" (click)="closeModal()">Cancelar</button>
        <button mat-raised-button color="primary" *ngIf="booleanModify" (click)="modificar()">Modificar</button>
    </mat-dialog-actions>
</form>