<div class="card px-8 py-6">
  <div class="flex flex-col sm:flex-row gap-x8">
      <div @fadeInUp class="flex-auto">
          <div class="flex flex-col sm:gap-2  my-4">
            <!---->
            <!-- Sector -->
            <div class="flex flex-col w-1/3">
                <mat-label class="text-primary text-sm font-medium">Fecha Base:</mat-label>
                <mat-form-field  class="flex-auto">
                    <mat-select [formControl]="formGroupPlazo.controls.fechaBase" [compareWith]="compareSelecIdListadoDetalle" placeholder="Ingresar sector">
                        <mat-option *ngFor="let obj of listFechaBase" [value]="obj">
                            {{ obj.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroupPlazo.get('fechaBase').hasError('required')">Fecha base</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col w-1/3">
                <mat-label class="text-primary text-sm font-medium">Tipo de dias:</mat-label>
                <mat-radio-group aria-label="Select an option" class="flex gap-8 mt-2" [value]="plazo?.tipoDia" >
                    <mat-radio-button *ngFor="let opt of listOpcion" [value]="opt.key">{{opt.value}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="flex flex-col w-1/3 mt-2">
                <mat-label class="text-primary text-sm font-medium">Dias</mat-label>
                <mat-form-field class="flex-auto">
                  <input matInput type="number" inputmode="numeric" pattern="[0-9]*"  placeholder="# dias" 
                  [formControl]="formGroupPlazo.controls.numeroDias" />
                </mat-form-field>
              </div>
            <!---->
        </div>
        <button color="primary" mat-raised-button type="button"  >
            <mat-icon svgIcon="mat:back"></mat-icon> Cancelar
          </button>
        <button color="primary" mat-raised-button type="button" (click)="guardarPlazo()" >
          <mat-icon svgIcon="mat:add"></mat-icon> Guardar
        </button>
      </div>
  </div>
  <div class="overflow-auto shadow-2xl rounded">

  </div>
</div>