<div class="mx-0 py-4 flex-col">
    <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field  class="flex-auto">
            <mat-label >Fecha máxima para subsanar observaciones</mat-label>
            <input [formControl]="ctrlFechaMaxima" matInput [disabled]="true" readonly="true">
        </mat-form-field>
        <!--div style="padding-top: 12px;">
            <button color="primary" mat-raised-button type="button" (click)="verObservacion()">Ver Observaciones</button>
        </div-->
    </div>
</div>