<div>
    <ng-container [ngTemplateOutlet]="templateAdenda"></ng-container>
</div>

<ng-template #templateAdenda>
    <div class="flex items-center w-full">
        <mat-checkbox color="primary" 
            (change)="setValueCheckedCartaReemplazo($event)"
            [disabled] = "isCargaAdenda || !rolePermisoCheckBox?.hasPermission"
            [checked]="adjuntoCargadoAdenda || adjuntoProyAdenda?.adjunto?.archivo != null"
            [vexOptionRoleCheck]="opcion.CHECKBOX_PROY_ADENDA"
            #rolePermisoCheckBox="vexOptionRoleCheck">
            <span>Documento Proyecto de Adenda</span>
        </mat-checkbox>
        <span class="flex-1"></span>

        <vex-form-adjuntos-no-title class="ml-6" *ngIf = "isReviewExt && allowedReviewProyAdenda"
            [adjuntoInput] = "adjuntoProyAdenda"
            [editable]="adjuntoProyAdenda?.adjunto?.archivo != null">
        </vex-form-adjuntos-no-title>
        
        <mat-radio-group
            *vexOptionRoleReemplazo="opcion.RAD_BTN_ADENDA"
            (change)="onMarcaAdendaChange($event.value)"
            [disabled] = "isCargaAdenda || adjuntoProyAdenda?.adjunto?.archivo == null"
            [(ngModel)]="marcacion"
            class="ml-12 flex items-center gap-4">
            <mat-radio-button value="si">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
        <span *ngIf="!isReviewExt" class="text-secondary ml-12">{{evaluadoPor || 'Evaluado por:'}}</span>
        <span *ngIf="!isReviewExt" class="text-secondary ml-12 fecha-col">{{fechaHora || 'Fecha y Hora'}}</span>
        
        <ng-container 
            [vexOptionRoleCheck]="opcion.RAD_BTN_ADENDA" 
            #rolePermisoSpan="vexOptionRoleCheck">
                <span *ngIf="!(rolePermisoSpan?.hasPermission)" class="flex-1">
                </span>
        </ng-container>
        
        <vex-form-adjuntos-no-title *ngIf="isReviewExt && !allowedReviewProyAdenda"
            class="ml-auto"
            [idSeccion]="'1042'"
            [idTipoDocumento]="'1042'"
            [idReemplazoPersonal]="idReemplazo"
            [deNombreDocumento]="'PROYECTO-ADENDA'"
            [feFechaRegistro]="'21/07/2025'"
            [archivoDescripcion]="'Proyecto de Adenda'"
            [editable]="editable"
            (archivoAdjuntado)="onAdendaAdjunta($event)">
        </vex-form-adjuntos-no-title>
    </div>

    <div *vexOptionRoleReemplazo="opcion.VIEW_OBS_INPUT"> 
        <mat-form-field class="w-full">
          <textarea matInput
                 placeholder="Observación"
                 [(ngModel)]="observacion"
                 (ngModelChange)="emitirObservacion()"
                 [disabled] = "isCargaAdenda || !rolePermiso?.hasPermission"
                 [vexOptionRoleCheck]="opcion.EDIT_OBS_INPUT"
                 #rolePermiso="vexOptionRoleCheck"
                 rows="2"
                 cdkTextareaAutosize
                 cdkAutosizeMinRows="2"
                 cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
</ng-template>
