<vex-page-layout mode="card">
    <vex-page-layout-header class="h-6" [class.px-gutter]="true"></vex-page-layout-header>
    <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
        <div class="card px-8 py-6">
            <div class="flex flex-col sm:flex-row gap-x8">
                <div @fadeInUp class="flex-auto">
                    <!-- Title -->
                    <h2 class="text-lg font-bold">Bandeja de Contratos</h2>
                    <mat-divider></mat-divider>

                    <!-- Filter -->
                    <div class="py-4 grid sm:grid-cols-2 md:grid-cols-3 gap-x-8">
                        <!-- Concurso -->
                        <div class="flex flex-col">
                            <mat-label class="text-primary text-sm font-medium">N°. de expediente</mat-label>
                            <mat-form-field  class="flex-auto">
                                <input matInput [formControl]="formGroup.controls.expediente" maxlength="30" placeholder="N°. de expediente" />
                            </mat-form-field>
                        </div>
                        <!-- Item -->
                        <div class="flex flex-col">
                            <mat-label class="text-primary text-sm font-medium">Contratista</mat-label>
                            <mat-form-field  class="flex-auto">
                                <input matInput [formControl]="formGroup.controls.contratista" maxlength="30" placeholder="Contratista" />
                            </mat-form-field>
                        </div>
                        <!-- Tipo Solicitud -->
                        <div class="flex flex-col">
                            <mat-label class="text-primary text-sm font-medium">Tipo contrato</mat-label>
                            <mat-form-field  class="flex-auto">
                                <mat-select placeholder="Seleccionar" [formControl]="formGroup.controls.tipoContrato">
                                    <mat-option value="">Elija una opcion</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Estado -->
                        <div class="flex flex-col">
                            <mat-label class="text-primary text-sm font-medium">Area solicitante</mat-label>
                            <mat-form-field  class="flex-auto">
                                <mat-select placeholder="Seleccionar" [formControl]="formGroup.controls.areaSolicitante">
                                    <mat-option value="">Elija una opcion</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- espacio -->
                        <div class="flex flex-col">
                        </div>

                        <!-- Botones -->
                        <div class="flex flex-col sm:flex-row sm:gap-2 items-center justify-end">
                            <button color="primary" mat-stroked-button type="button" (click)="limpiar()">
                                Limpiar
                            </button>
                            <button color="primary" mat-raised-button type="button" (click)="buscar()">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-auto shadow-2xl rounded">
                <!-- tabla -->
                 <table @stagger [dataSource]="dataSource" class="w-full rounded" mat-table matSort>
                    <ng-container matColumnDef="expediente">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° de Expediente</th>
                        <td class="text-primary font-medium" mat-cell *matCellDef="let element">{{ element?.solicitudPerfCont.propuesta.procesoItem.proceso.numeroExpediente }}</td>
                    </ng-container>

                    <ng-container matColumnDef="contratista">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contratista</th>
                        <td class="text-primary font-medium" mat-cell *matCellDef="let element">{{ element?.solicitudPerfCont.propuesta.supervisora.nombreRazonSocial }}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipoContrato">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Contrato</th>
                        <td class="text-primary font-medium" mat-cell *matCellDef="let element">{{ element?.estadoContrato === '1' ? 'PRIMIGENIO' : 'OTRO' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="areaSolicitante">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Área Solicitante</th>
                        <td class="text-primary font-medium" mat-cell *matCellDef="let element">{{ element?.solicitudPerfCont.propuesta.procesoItem.proceso.nombreArea }}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
                        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                            <button (click)="$event.stopPropagation()"
                                    [matMenuTriggerData]="{ customer: row }"
                                    [matMenuTriggerFor]="actionsMenu"
                                    mat-icon-button
                                    type="button">
                            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="loading">
                        <td mat-footer-cell *matFooterCellDef colspan="9" class="text-center">Cargando Datos...</td>
                    </ng-container>

                    <ng-container matColumnDef="vacio">
                        <td mat-footer-cell *matFooterCellDef colspan="9" class="text-center text-primary">No se encuentran resultados para los filtros seleccionados</td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: dataSource != null }"></tr>
                    <tr mat-footer-row *matFooterRowDef="['vacio']" [ngClass]="{ hide: !(dataSource != null && dataSource.data.length == 0) }"></tr> -->
                 </table>
                 <mat-paginator class="sticky left-0" [pageSizeOptions]="[10, 20, 30]" (page)="pageChange($event)"
                 showFirstLastButtons></mat-paginator>
            </div>
            <div class="py-4 border-t flex flex-row justify-end">
                <button color="primary" mat-raised-button type="button" (click)="goToBandejaSolicitudes()">
                    Regresar
                </button>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-row="customer" matMenuContent>
        <button mat-menu-item (click)="true">
            <mat-icon svgIcon="mat:preview"></mat-icon>
            <span>Ver</span>
        </button>
        <button mat-menu-item (click)="true">
            <mat-icon svgIcon="mat:update"></mat-icon>
            <span>Procesar</span>
        </button>
    </ng-template>
</mat-menu>