<vex-page-layout mode="card">
    <vex-page-layout-header class="h-6" [class.px-gutter]="true"></vex-page-layout-header>
    <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
        
        <!-- Tab Group para Personas Jurídicas -->
        <ng-container *ngIf="(user$ | async)?.tipoPersona?.codigo === tipoPersonaEnum.JURIDICO">
            <mat-tab-group selectedIndex="0" class="bg-white" animationDuration="0ms">
                <mat-tab label="Perfeccionamiento de Contrato" class="estilo-tab-activo">
                    <vex-contrato-perfeccionamiento></vex-contrato-perfeccionamiento>
                </mat-tab>
            </mat-tab-group>
        </ng-container>

        <!-- Tab Group para Personas Naturales -->
        <ng-container *ngIf="(user$ | async)?.tipoPersona?.codigo === tipoPersonaEnum.NATURAL">
            <mat-tab-group selectedIndex="0" class="bg-white" animationDuration="0ms">
                <mat-tab label="Supervisor Persona Natural">
                    <ng-template matTabContent>
                        <vex-contrato-supervisor-pn></vex-contrato-supervisor-pn>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ng-container>

    </vex-page-layout-content>
</vex-page-layout>