<vex-page-layout mode="card">
    <vex-page-layout-header class="h-6" [class.px-gutter]="true"></vex-page-layout-header>
    <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
        <div class="card px-8 py-6">
            <h2 class="title m-0">Editar Contrato</h2>

            <mat-divider class="mb-6"></mat-divider>

            <form [formGroup]="contratoForm">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1">
                    <div class="flex flex-col max-w-md">
                        <mat-label class="text-primary text-sm font-medium">Fecha de suscripción de
                            contrato:</mat-label>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-datepicker-toggle matSuffix [for]="suscripcionPicker"></mat-datepicker-toggle>
                            <mat-datepicker #suscripcionPicker></mat-datepicker>
                            <input matInput [matDatepicker]="suscripcionPicker" formControlName="fechaSuscripcion"
                                placeholder="dd/mm/aaaa">
                            <mat-error
                                *ngIf="contratoForm.get('fechaSuscripcion')?.invalid && contratoForm.get('fechaSuscripcion')?.touched">
                                El campo es obligatorio.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col max-w-md">
                        <mat-label class="text-primary text-sm font-medium">Fecha de inicio de contrato (acta
                            inicio):</mat-label>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
                            <mat-datepicker #inicioPicker></mat-datepicker>
                            <input matInput [matDatepicker]="inicioPicker" formControlName="fechaInicio"
                                placeholder="dd/mm/aaaa">
                            <mat-error
                                *ngIf="contratoForm.get('fechaInicio')?.invalid && contratoForm.get('fechaInicio')?.touched">
                                El campo es obligatorio.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col max-w-md">
                        <mat-label class="text-primary text-sm font-medium">Fecha final de contrato:</mat-label>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-datepicker-toggle matSuffix [for]="finalPicker"></mat-datepicker-toggle>
                            <mat-datepicker #finalPicker></mat-datepicker>
                            <input matInput [matDatepicker]="finalPicker" formControlName="fechaFin"
                                placeholder="dd/mm/aaaa">
                            <mat-error
                                *ngIf="contratoForm.get('fechaFin')?.invalid && contratoForm.get('fechaFin')?.touched">
                                El campo es obligatorio.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex gap-x-4 items-center max-w-md">
                        <mat-form-field appearance="outline" class="flex-grow">
                            <mat-label>Número de Contrato</mat-label>
                            <input matInput type="number" formControlName="numeroContrato"
                                placeholder="Número de Contrato"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                            <mat-error *ngIf="numeroContrato?.invalid && numeroContrato?.touched">
                                <span *ngIf="numeroContrato?.errors?.required">El número de contrato es
                                    obligatorio.</span>
                                <span *ngIf="numeroContrato?.errors?.pattern">Solo se permiten números.</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="pb-1">
                            <button mat-stroked-button color="primary" type="button" (click)="adjuntarArchivo()"
                                [disabled]="!contratoForm.get('numeroContrato')?.valid" class="adjuntar-btn">
                                + Adjuntar ...
                            </button>
                             <input type="file" #fileInput hidden (change)="onFileSelected($event)">
                        </div>
                    </div>
                </div>
            </form>
            <div class="overflow-auto shadow-2xl rounded mt-6 tabla-container-60">
                <table mat-table [dataSource]="archivosAdjuntosDataSource" class="w-full rounded">
                    <ng-container matColumnDef="requisito">
                        <th mat-header-cell *matHeaderCellDef>Requisito del Contrato</th>
                        <td mat-cell *matCellDef="let element">{{ element.requisito }}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombreArchivo">
                        <th mat-header-cell *matHeaderCellDef>Archivo Adjunto</th>
                        <td mat-cell *matCellDef="let element">{{ element.nombreArchivo }}</td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-icon-button (click)="descargarArchivo(element)" [disabled]="!element.idArchivo">
                                <mat-icon svgIcon="mat:download"></mat-icon>
                            </button>
                            <button mat-icon-button (click)="eliminarArchivo(i)">
                                <mat-icon svgIcon="mat:delete"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedAdjuntosColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedAdjuntosColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center py-6 text-gray-500" colspan="3">
                            No hay archivos adjuntos.
                        </td>
                    </tr>
                </table>
            </div>

            <div class="py-4 border-t flex flex-row justify-end gap-2 mt-6">
                <button color="primary" mat-raised-button type="button" (click)="guardarContrato()">
                    Registrar
                </button>
                <button color="primary" mat-raised-button type="button" (click)="regresar()">
                    Regresar
                </button>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>