.th-center {
  text-align: center;
}

.hide {
  display: none;
}

.titulo-centrado {
  flex: 1;
  text-align: center;
}

.boton-derecha {
  margin-left: auto;
}

.truncate-text-num {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; 
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px; 
}