<div class="flex items-center">
  <span class="text-secondary" *ngIf="isReviewExt || isCargaAdenda">Fecha Desvinculación</span>
  <mat-form-field class="!mb-0 mt-2 ml-2 flex-none fecha-field" >
    <input type="date"
           [formControl]="formGroup.controls.fechaDesvinculacion"
           [min]="dateHoy | date:'yyyy-MM-dd'"
           class="fecha-input"
           matInput>
    <mat-error *ngIf="formGroup.get('fechaDesvinculacion').hasError('required')">
      Ingrese Fecha de Desvinculacion
    </mat-error>
  </mat-form-field>
  <span class="flex-1"></span>
</div>

<div class="flex items-center">
    <mat-checkbox color="primary" 
      (change)="setValueCheckedInforme(formGroup, $event)"
      [disabled] = "isCargaAdenda || rolePermisoCheckBox?.hasPermission"
      [checked]="adjuntoInforme?.adjunto?.archivo != null"
      [vexOptionRoleCheck]="opcion.RAD_BTN_INFORME"
      #rolePermisoCheckBox="vexOptionRoleCheck">
        <span>Informe Reemplazo Personal Propuesto</span>
    </mat-checkbox>
    <span class="flex-1"></span>

    <vex-form-adjuntos-no-title class="ml-6"
      [adjuntoInput] = "adjuntoInforme"
      [editable]="editable">
    </vex-form-adjuntos-no-title>
    <mat-radio-group
      [(ngModel)]="marcaInformeCarta"
      (change)="onMarcaInformeCartaChange($event.value)"
      [disabled] = "isCargaAdenda || adjuntoInforme?.adjunto?.archivo == null"
      *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME"
      class="ml-12 flex items-center gap-4">
      <mat-radio-button value="SI">Sí</mat-radio-button>
      <mat-radio-button value="NO">No</mat-radio-button>
    </mat-radio-group>
    <span *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME" class="text-secondary ml-12">{{evaluadoPor || 'Evaluado por:'}}</span>
    <span *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME" class="text-secondary ml-12 fecha-col">{{fechaHora || 'Fecha y Hora'}}</span>
    <ng-container 
      [vexOptionRoleCheck]="opcion.RAD_BTN_INFORME" 
      #rolePermisoSpan="vexOptionRoleCheck">
      <span *ngIf="!(rolePermisoSpan?.hasPermission)" class="flex-1">
      </span>
    </ng-container>

    <vex-form-adjuntos-btn class="ml-6" *ngIf="!(isReviewExt || isCargaAdenda)"
      [titulo]="'Archivo (*.pdf)'"
      [editable]="editable">
    </vex-form-adjuntos-btn>
</div>

<div *vexOptionRoleReemplazo="opcion.VIEW_OBS_INPUT"> 
  <mat-form-field class="w-full">
    <textarea matInput
           placeholder="Observación"
           [disabled] = "isCargaAdenda || !rolePermiso?.hasPermission"
           [vexOptionRoleCheck]="opcion.EDIT_OBS_INPUT"
           #rolePermiso="vexOptionRoleCheck"
           rows="2"
           cdkTextareaAutosize
           cdkAutosizeMinRows="2"
           cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>
  