<vex-page-layout mode="card">
  <vex-page-layout-header
    class="h-6"
    [class.px-gutter]="true"
  ></vex-page-layout-header>
  <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
    <form action="">
      <div class="card px-8 py-6">
        <div class="flex flex-col sm:flex-row gap-x-8" *ngIf="!isCargaAdenda">
          <div class="flex-auto">
            <!-- Title -->
            <h2 class="text-lg font-bold">Revisar Documentos</h2>
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-x-8" *ngIf="isCargaAdenda">
          <div class="flex-auto">
            <!-- Title -->
            <h2 class="text-lg font-bold">Cargar Adenda</h2>
            <mat-divider></mat-divider>
          </div>
        </div>

        <vex-revisar-doc-reemplazo-form-review
          *ngIf="!isCargaAdenda"
          [idReemplazo]="idReemplazoPersonal"
          [idSolicitud]="idSolicitud"
          [uuidSolicitud]="uuidSolicitud"
          (seccionesCompletadas)="recibirFlagSeccionesCompletadas($event)"
          (codigoRevisor)="recibirCodigoRevisor($event)"
          (allMarcasConforme)="recibirConformidades($event)"
          (allObsCompletas)="recibirFlagObsCompletas($event)"
          (obsRegistrar)="recibirListaObservaciones($event)"
          #reemplazoPersFormEdit
        ></vex-revisar-doc-reemplazo-form-review>

        <vex-adenda-form-upload
          *ngIf="isCargaAdenda"
          [idReemplazo]="idReemplazoPersonal"
          [idSolicitud]="idSolicitud"
          [uuidSolicitud]="uuidSolicitud"
          (loadAdenda)="isAdendaComplete = $event"
          (adjuntoData)="dataFileUpload($event)"
          #adendaFormUpload
        ></vex-adenda-form-upload>

        <div class="py-4 border-t flex flex-row justify-end gap-x-4">
          <button
            *ngIf="!isCargaAdenda"
            color="primary"
            mat-raised-button
            type="button"
            [disabled]="!puedeRegistrar"
            (click)="registrarRevision()"
          >
            {{ btnRegister }}
          </button>
          <button
            *ngIf="isCargaAdenda"
            [disabled]="!isAdendaComplete"
            color="primary"
            mat-raised-button
            type="button"
            (click)="registrarAdenda()"
          >
            {{ btnGuardarAdenda }}
          </button>
          <button
            color="primary"
            mat-raised-button
            type="button"
            (click)="toGoBandejaContratos()"
          >
            Regresar
          </button>
        </div>
      </div>
    </form>
  </vex-page-layout-content>
</vex-page-layout>
