<div>
    <ng-container [ngTemplateOutlet]="templateOficio"></ng-container>
</div>

<ng-template #templateOficio>
    <div class="flex items-center w-full">
        <mat-checkbox color="primary" 
        [checked]="adjuntoCargadoSolicitud || adjuntoSolicitud?.adjunto?.archivo != null"
        [disabled] = "isCargaAdenda || rolePermisoCheckBox?.hasPermission"
        [vexOptionRoleCheck]="opcion.RAD_BTN_INFORME"
        #rolePermisoCheckBox="vexOptionRoleCheck">
            <span>Oficio/Carta solicitando reemplazo del supervisor</span>
        </mat-checkbox>
        <span class="flex-1"></span>

        <vex-form-adjuntos-no-title *ngIf="isReview || isReviewExt || isCargaAdenda"
            class="ml-auto"
            [adjuntoInput] = "adjuntoSolicitud"
            [editable]="editable">
        </vex-form-adjuntos-no-title>
        
        <mat-radio-group
            (change)="onMarcaSolicitudChange($event.value)"
            *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME"
            [disabled] = "isCargaAdenda || adjuntoSolicitud?.adjunto?.archivo == null"
            [(ngModel)]="marcacion"
            class="ml-12 flex items-center gap-4">
            <mat-radio-button value="SI">Sí</mat-radio-button>
            <mat-radio-button value="NO">No</mat-radio-button>
        </mat-radio-group>
        <span *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME" class="text-secondary ml-12">
            {{evaluadoPor || 'Evaluado por:'}}</span>
        <span *vexOptionRoleReemplazo="opcion.RAD_BTN_INFORME" class="text-secondary ml-12 fecha-col">
            {{fechaHora || 'Fecha y Hora'}}</span>
        <ng-container 
            [vexOptionRoleCheck]="opcion.RAD_BTN_INFORME" 
            #rolePermisoSpan="vexOptionRoleCheck">
                <span *ngIf="!(rolePermisoSpan?.hasPermission)" class="flex-1">
                </span>
        </ng-container>
        
        <vex-form-adjuntos-no-title *ngIf="!(isReview || isReviewExt || isCargaAdenda)"
            class="ml-auto"
            [idSeccion]="'983'"
            [idTipoDocumento]="'1040'"
            [idReemplazoPersonal]="perfilBaja?.idReemplazo"
            [deNombreDocumento]="'SOLICITUD'"
            [feFechaRegistro]="'21/07/2025'"
            [archivoDescripcion]="'Solicitud reemplazo de supervisor'"
            [editable]="adjuntoSolicitud == null"
            (archivoAdjuntado)="onSolicitudAdjunta($event)">
    </vex-form-adjuntos-no-title>
    </div>
    <div *vexOptionRoleReemplazo="opcion.VIEW_OBS_INPUT"> 
        <mat-form-field class="w-full">
          <textarea matInput
                 placeholder="Observación"
                 [disabled] = "isCargaAdenda || !rolePermiso?.hasPermission"
                 [vexOptionRoleCheck]="opcion.EDIT_OBS_INPUT"
                 #rolePermiso="vexOptionRoleCheck"
                 rows="2"
                 cdkTextareaAutosize
                 cdkAutosizeMinRows="2"
                 cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
</ng-template>
