<vex-page-layout mode="card">
    <vex-page-layout-header class="h-6"></vex-page-layout-header>
    <vex-page-layout-content class="-mt-6" [class.px-gutter]="true">
        <div class="card overflow-auto -mt-16">
            <!--TITULO-->
            <div class="px-6 py-4 flex items-center">
                <h2 class="title m-0 font-bold">{{ titulo }}</h2>
            </div>

            <ng-container *ngFor="let requisito of requisitos">
                <vex-documento-pn-detalle [evaluate]="evaluate" [requisito]="requisito"
                    [rutaEvaluarDetalle]="rutaEvaluarDetalle" [isReview]="isReview"></vex-documento-pn-detalle>
            </ng-container>

            <vex-skeleton-loader *ngIf="isLoading" [count]="4" type="list"></vex-skeleton-loader>

            <div class="px-6 py-4 flex flex-col gap-y-2 sm:flex-row sm:gap-x-2 items-center justify-end"
                *ngIf="evaluate || isReview">
                <button color="primary" mat-raised-button type="button" class="hover-class"
                    *ngIf="!isFinalized && !isLoading"
                    (click)="finalizarEvaluacion()">Finalizar {{ isReview ? 'Revisión' : 'Evaluación' }}</button>
                <button color="primary" mat-raised-button type="button" class="hover-class"
                    (click)="regresar()">Regresar</button>
            </div>

        </div>
    </vex-page-layout-content>
</vex-page-layout>